/.vscode
/build
/cache
/analysis/figure
/result
/configuration
.clangd/
CMakeFiles/
.ninja_log
.ninja_deps
CMakeCache.txt
Whisper
build.ninja
cmake_install.cmake
commune/commune/
compile_commands.json
rules.ninja
eval/